*{
    padding: 0;
    margin: 0;
    background-color: #323030;
    font-family: 'Press Start 2P', cursive;
}

h1{
    text-align: center;
    color: #FFD700;
    font-size: 36px;
    margin-bottom: 30px;
}
.container{
    display: block;
    width: 1280px;
    margin: 0 auto;
    margin-top: 50px;
}

.login_txt{
    margin-top: 50px;

    text-align: center;
    color: #FFD700;
    font-size: 36px;
}

.login_inputs{

    margin-top: 50px;
    margin-left: 250px;
    margin-bottom: 100px;
}

.input{
    width: 250px;
    color: white;
    background-color: black;
}
.login_inputs label{
    color: #cdbea7;
}

.submit{
    margin-top: 50px;
    padding: 15px 15px 15px 15px;
    color: #323030;
    background-color: #cdbea7;
    transition: .4s;
}

.submit__label{
    margin-left: 200px;
}

.submit:hover{
    background-color: #FFD700;
    color: black;
}

.container__game{
    display: none;
    width: 1220px;
    margin: 0 auto;
    margin-top: 120px;
}

.background{

}

.container__matrix{
    border: 5px;
    border-color: white;
    height: 600px;
    width: 600px;
    display: flex;
    margin: 0 auto;
}

.name{
    margin: 0 auto;
    margin-bottom: 25px;
}

.container__player{
    width: 500px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.balance{
    margin-top: 25px;
}

.container__player p {
    color: #cdbea7;
}

.blocks{

    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
  }
  .block{

    padding-top: 50px;
    text-align: center;
    margin: 0 auto;
    background-color: black;
    width: 200px;
  }


